{% extends "public/base.html" %}

{% block title %}Documentation{% endblock %}

{% block showntitle %}Documentation{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p>This is the <b>Documentation</b> page, I hope you'll find useful stuff down below</p>
    </section>
    <section>
    <p>Here are some links that will help you while deploying and using your copy of <em>DataPortal</em></p>
    </section>
    <section>
        <p>
            I hope that you'll find what you were looking for.
        </p>
    </section>
{% endblock %}