{% extends "public/base.html" %}

{% block title %}Home{% endblock %}

{% block showntitle %}Welcome to DataPortal{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <h2 class="subtitle">The free and open source tool for viewing and updating BIM data.</h2>

    </section>
    <section>
        <p>
            Welcome dear new user, I wish you'll have fun using DataPortal
        </p>
    </section>

    <!-- This is some random text -->
    <section>
        <h3>Do you like open source?</h3>
        <p>
            To tell me how much you like open source, send me an email at <b><a
                href="mailto:iLoveOpenSource@dataportal.dev">iLoveOpenSource@dataportal.dev</a></b>
        </p>
    </section>
{% endblock %}