{% extends "public/base.html" %}

{% block title %}Sign up{% endblock %}

{% block showntitle %}Sign Up{% endblock %}

{% block content %}

    <section>
        <!-- DESCRIPTION -->
        <p>This is the <b>Sign up</b> page, thanks for using our services</p>
    </section>
    <section>
        <form method="POST" action="{{ url_for('post_signup') }}">
            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    {{ field.label(class_="label") }}
                {% endif %}

                {% if field.label.text == "Email" %}
                <div class="control has-icons-left">
                    {{ field(class_="input is-primary", autofocus="true") }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                </div>
                {% elif field.label.text in ["Password", "Re-type password"] %}
                    <div class="control has-icons-left">
                        {{ field(class_="input is-primary") }}
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </div>
                {% else %}
                    <div class="control">
                        {{ field(class_="input is-primary") }}
                    </div>
                {% endif %}
                <br/>
            {% endfor %}
            <input class="button is-primary" type="submit" value="Sign up">
        </form>
    </section>

{% endblock %}
