<div class="box">

    <h3 class="title is-3">You are editing</h3>
    <strong>File name : {{ file_name }}</strong></br>
    Global id: {{ ifcGlobalId }}

    <form method="post" action="/saveifc/{{ file_name }}/{{ ifcGlobalId }}">
        {% for pset in property_sets %}
            <div class="card m-4">
                <header class="card-header"><p class="card-header-title">{{ pset.name }}</p></header>

                <div class="content m-3">
                    {% for p in pset.properties %}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label is-normal">{{ p.key }}</label>
                            </div>

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {% if pset.name in ["Dimensions", "BaseQuantities"] %}
                                            <span>{{ p.value }}</span>
                                        {% else %}
                                            {% if p.datatype == "bool" %}
                                                <input id="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}True"
                                                       name="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}"
                                                       type="radio" value="true"
                                                       {% if p.value %}checked="checked"{% endif %}>
                                                <label for="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}True">True</label>

                                                <input id="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}False"
                                                       name="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}"
                                                       type="radio" value="false"
                                                       {% if not p.value %}checked="checked"{% endif %}>
                                                <label for="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}False">False</label>
                                            {% else %}
                                                <input name="{{ p.datatype }}{{ pset_separator }}{{ pset.name }}{{ pset_separator }}{{ p.key }}"
                                                       class="input"
                                                       type="text" value="{{ p.value }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {% if not pset.name in ["Dimensions", "BaseQuantities"] %}
                    <div id="new-property-div-{{ pset.name }}">
                        <div class="select is-info is-small">
                        <select name="new_property_type" id="new-property-select-{{ pset.name }}">
                            <option value="int">Integer</option>
                            <option value="float">Float</option>
                            <option value="str">String</option>
                            <option value="bool">Boolean</option>
                        </select>
                            </div>

                            <button class="button is-info is-small" onclick='return add_property("{{ pset.name }}", "{{ pset_separator }}")'>Add new property</button>
                    </div>
                    {% endif %}

                    <div class="pb-3"></div>
                </div>
            </div>
        {% endfor %}

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" id="new-pset-name">
                    </div>
                </div>
                <div class="field">
                    <button id="new-pset-button" class="button is-info is-small" onclick='return add_property_set("{{ pset_separator }}")'>Add new property set</button>
                </div>
            </div>
        </div>
        <div class="pb-3"></div>


        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label is-normal">Output filename</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input name="output_file_name" class="input" type="text" value="{{ file_name }}">
                    </div>
                </div>
            </div>
        </div>
        <button class="button is-primary" onclick='return set_new_property_keys("{{ pset_separator }}")'>Save</button>

    </form>


</div>
