{% extends "public/base.html" %}

{% block title %}Import{% endblock %}

{% block showntitle %}Import{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p>This is the <b>Import</b> page, thanks for visiting</p>
    </section>
    <section>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('post_import') }}">
            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    {{ field.label(class_="label") }}
                {% endif %}
                <div class="control">
                    {{ field(class_="input is-primary") }}
                </div>

                <br/>
            {% endfor %}
            <input class="button is-primary" type="submit" value="Upload">
        </form>
    </section>

{% endblock %}